/*---------------------------- FONTS -------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/*---------------------------- BODY STYLING -------------------------------------*/
body {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

#bodywerk1 {
    grid-template-rows: 100px 400px 900px 150px 1050px 750px 1250px 400px;
}

#bodywerk2 {
    grid-template-rows: 100px 400px 900px 150px 1050px 750px 750px 400px;
}

#bodywerk3 {
    grid-template-rows: 100px 400px 900px 150px 1050px 1050px 750px 400px; 
}

/*---------------------------- HEADER STYLING -------------------------------------*/ 
.intro-bg {
    grid-row: 1 / 3;
    grid-column: 1 / 4;
}

#intro-achtergrond-1{
    background-color:#ad6f7d;
}

#intro-achtergrond-2{
    background-color:#a5a5a5;
}

#intro-achtergrond-3{
    background-color:#f7df09;
}

.logo-home{
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-image: url("Images/Logozwart.png");
    background-size: 6%;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    margin-top: 50px;
    cursor:pointer;
}

.afb-intro{
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    background-image: url("Images/Werk-3-intro.png");
    background-repeat: no-repeat;
    margin-bottom: -90px;
    background-position: bottom;
    background-size: contain;
}

#afbeelding-intro-1{
    background-image: url("Images/Werk-1-intro.png");
}

#afbeelding-intro-2{
    background-image: url("Images/Werk-2-intro.png");
}

#afbeelding-intro-3{
    background-image: url("Images/Werk-3-intro.png");
}

/*---------------------------- INTRO STYLING -------------------------------------*/ 

.naam-werk{ 
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    font-family: 'Ubuntu', sans-serif;
    font-size: 42pt;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-align: left;
    color: #4c0030;
    margin-top: 170px;
    margin-left: 130px;
}

.kop-intro-tekst{ 
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    font-weight:900;
    text-align: left;
    color: #ffa2ae;
    margin-top: 275px;
    margin-left: 130px;
}

.intro-tekst{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    text-align: left;
    color: #000000;
    margin-top: 310px;
    margin-left: 130px;
    margin-right: 300px;
}

/*---------------------------- PROCES STYLING -------------------------------------*/ 

.afb-onderzoek{
    grid-row: 5 / 6;
    grid-column: 1 / 4;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-size: 92.5%;
    margin-bottom:30px;
}

#afbeelding-onderzoek-1{
    background-image: url("Images/Werk-1-onderzoek.png");
}

#afbeelding-onderzoek-2{
    background-image: url("Images/Werk-2-onderzoek.png");
}

#afbeelding-onderzoek-3{
    background-image: url("Images/Werk-3-onderzoek.png");
}

.proces-bg{ 
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    background-color:#ad6f7d;
}

#proces-achtergrond-1{ 
    background-color:#ad6f7d;
}

#proces-achtergrond-2{ 
    background-color:#a5a5a5;
}

#proces-achtergrond-3{ 
    background-color:#f7df09;
}

.proces-kop{ 
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25pt;
    letter-spacing: 0.1em;
    text-align: center;
    color: #ffffff;
    margin-top: 52px;
    font-weight:900;
}

/*---------------------------- ONDERZOEK -------------------------------------*/ 
.kop-onderzoek-tekst{    
    grid-row: 5 / 6;
    grid-column: 1 / 4;
    font-family: 'Open Sans', sans-serif;
    font-weight:900;
    font-size: 13pt;
    text-align: left;
    color: #ffa2ae;
    margin-top: 75px;
    margin-left: 130px;
}

.onderzoek-tekst{
    grid-row: 5 / 6;
    grid-column: 1 / 3;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    text-align: left;
    color: #000000;
    margin-top: 110px;
    margin-left: 130px;
    margin-right: 300px;
}

/*---------------------------- UITWERKING -------------------------------------*/ 
.kop-uitwerking-tekst{    
    grid-row: 6 / 7;
    grid-column: 3 / 4;
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    text-align: left;
    margin-top: 200px;
    color: #ffa2ae;
    margin-left: -70px;
    font-weight:900;
}

#kop-uit-tekst3{
    margin-left: 0px;
}

.uitwerking-tekst{   
    grid-row: 6 / 7;
    grid-column: 3 / 4;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    text-align: left;
    color: #000000;
    margin-right: 200px;
    margin-top:235px;
    margin-left: -70px;
}

#uit-tekst3{
    margin-right: 160px;
    margin-left: 0px;
}

.afbeelding-uitwerking{
    grid-row: 6 / 7;
    grid-column: 1 / 3;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 98%;
    margin-bottom: 180px;
}

#afb-uitwerking1{
    background-image: url("Images/Werk-1-uitwerking.png");
}

#afb-uitwerking2{
    background-image: url("Images/Werk-2-uitwerking.png");
}

#afb-uitwerking3{
    background-image: url("Images/Werk-3-uitwerking.png");
}

/*---------------------------- EINDRESULTAAT -------------------------------------*/ 

.kop-eindresultaat{  
    grid-row: 7 / 8;
    grid-column: 1 / 4;
    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    text-align: left;
    color: #ffa2ae;
    margin-top: 75px;
    margin-left: 130px;
    font-weight:900;
}

#kop-eind3{
    margin-top:-175px;
}

.eindresultaat-tekst{
    grid-row: 7 / 8;
    grid-column: 1 / 3;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    text-align: left;
    color: #000000;
    margin-top: 110px;
    margin-left: 130px;
    margin-right: 300px;
}

#eind-tekst3{
    margin-top:-140px;
}

.afbeelding-eindresultaat{
    grid-row: 7 / 8;
    grid-column: 2 / 4;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 98%;
    margin-bottom: 180px;
    margin-right: 70px;
}

#afb-eind1{
    background-image: url("Images/Werk-1-eindresultaat.png"); 
}

#afb-eind2{
    background-image: url("Images/Werk-2-eindresultaat.png"); 
}

#afb-eind3{
    background-image: url("Images/Werk-3-eindresultaat.png"); 
    margin-right: 70px;
    margin-top:-200px;
}

/*---------------------------- FOOTER -------------------------------------*/ 

.footer-achtergrond{   
    grid-row: 8 / 9;
    grid-column: 1 / 4;
}

#footer-bg1{
    background-color:#ad6f7d;  
}
#footer-bg2{
    background-color:#a5a5a5;
}
#footer-bg3{
    background-color:#f7df09;
}

.footer-tekst{
    grid-row: 8 / 9;
    grid-column: 1 / 4;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25pt;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-align: center;
    color: #FFFFFF;
    margin-top:175px;
    cursor:pointer;
}
